section.music{
    height: 10vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: $dark;
    z-index: 10;
    
    .music-container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .music-controler{
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .music-track{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .music-options{
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        
    }

}

.music-track{
    .time{
        display: flex;
        align-items: flex-end;
        color : $light;
        font-size: .8em;
    }
}

.music-infos{

    .music-infos-container{
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .music-heading{
            color: $light;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1rem;

            .circle{
                padding: 0 .5rem;
                display: flex;
                align-items: center;
                font-size: .3rem;
            }
        }

        .audio-infos{
            display: flex;
            flex-direction: row;
            align-items: baseline;

            .audio-slider{
                flex-grow: 1;
                height: .2rem;
                cursor: pointer;
                position: relative;
                border-radius: .5rem;
                background-color: $light;
                width: 500px;
                max-width: 100%;
                margin: 0 1rem;
                padding: .2rem;
    
                .progress-bar{
                    position: absolute;
                    background-color: $main-color;
                    width: 0;
                    max-width: 100%;
                    height: 100%;
                    border-radius: .5rem;
                    top: 0;
                    left: 0;
                }
            }
    
    
            audio{
                display: none;
            }
        }

        
    }

}

.music-options{
    .volume-slider{
        position: relative;
    }
}